

<a aria-label="Compartilhe no Twitter" class="icon icon-twitter"
   href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }} - {{page.title}} por @{{ site.authorTwitter }}"
   onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
   title="Compartilhe no Twitter">
    <svg class="icon icon-twitter">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
    </svg>
</a>
<a aria-label="Compartilhe no Facebook" class="icon icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
   onclick="window.open(this.href,'facebook-share-dialog','width=626,height=436'); return false;">
    <svg class="icon icon-facebook">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
    </svg>
</a>

<a aria-label="Compartilhe no Google Plug" class="icon icon-google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
   onclick="window.open(this.href, 'gplus-share-dialog','width=626,height=436'); return false;">

<svg
        class="icon icon-google-plus">
    <use xmlns:xlink="http://www.w3.org/1999/xlink"
         xlink:href="#icon-google-plus"></use>
</svg>
</a>

<a aria-label="Compartilhe no linkedin" class="icon icon-linkedin"
   href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{page.description}}&source='Rômulo Jales'"
   onclick="window.open(this.href,'linkedin-dialog','width=626,height=436'); return false;">

<svg class="icon icon-linkedin">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use>
</svg>
</a>