---
layout: compress
---
<html lang="pt-br" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="name" content="{{ site.name }}"/>
  <meta name="author" content="Rômulo Jales"/>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="keywords"  content="{% if page.keywords %}{{page.keywords}}{% else %}{{ site.keywords }}{% endif %}"/>
  <meta name="robots" content="index, follow">

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
   <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@romulojales">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- Social: Facebook / Open Graph -->
  <meta property="fb:admins" content="100001734547813" />
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="http://romulojales.com/assets/images/avatar3.jpg">

  <meta property="og:url" content="{{ page.url | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta itemprop="name" content="{{ site.name }}"/>
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="http://romulojales.com/assets/images/avatar3.jpg"/>

  <meta name="google-site-verification" content="GeZ1tiZaXu3E2GPE2T28ppqUY5RgnvIHkmtSZ9jtXPo">

  <link rel="author" href="https://plus.google.com/+R%C3%B4muloJales/?rel=author" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="Rômulo Jales" href="/feed.xml" />
  <link rel="canonical" href="{{ page.url | prepend: site.url }}" />

  <link rel="stylesheet" href="/assets/css/estilo.css" defer />

</head>
<body>
  {% include navigation.html %}
  {% if page.profile %}{% include profile.html %}{% endif %}
  <section id="wrapper" class="{% if page.profile %}home{% endif %}">{{ content }}</section>
  <script src="/assets/js/highlight.js" defer></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
